<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToyStores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      #home-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 10px;
        width: 100%;
        overflow: hidden;
      }
      .right  {
        width: 30%;
        float: right;
      }

      .top {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }

    </style>
</head>
<body>
<div class="top">
<a class="btn btn-primary" href="/insert" role="button">Insert new product</a>

<div class="right">
  <form class="d-flex" method="POST" action="/doSearch">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="txtSearch" >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>

</div>
<div>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Color</th>
      <th scope="col">Producer</th>
      <th scope="col">Action </th>
    </tr>
  </thead>
  <tbody>
      {{# each model}}
    <tr>
      <th scope="row">{{_id}}</th>
      <td>{{productName}}</td>
      <td>${{productPrice}}</td>
      <td>{{color}}</td>
      <td>{{producer}}</td>
      <td> 
        <a class="btn btn-primary" href="/update?id={{_id}}" role="button">Update</a>
        <a class="btn btn-primary" href="/delete?id={{_id}}" onclick="return confirmDelete('{{productName}}')" role="button">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

</body>
<div id = "home-footer">
  {{>footer}}
</div>

</html>
<script>
  function confirmDelete(name){
    return confirm('Are you sure to delete ' + name + ' ?');
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>